<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('includes/bootstrap.ejs') %>
  </head>
  <body>
    <div class="container">
      <!-- Header / Navigation-->
      <div class="row">
        <div class="col">
          <h1><%= title %></h1>
        </div>
      </div>
      <!-- Main Content -->
      <div class="row">
        <div id="contacts" class="col">
          <table class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Date - Time</th>
                <th>Operator</th>
                <th>DX Call</th>
                <% fields.forEach( field => { %>
                  <th><%= field.name %></th>
                <% }); %>
              </tr>
            </thead>
            <tbody>
              <tr>
                <form action="/contacts" method="POST">
                  <td><button type="submit" class="form-control">Add</button></td>
                  <td><input type="text" name="date" class="form-control"></td>
                  <td><input type="text" name="operator" class="form-control"></td>
                  <td><input type="text" name="dx_call" class="form-control"></td>

                  <% fields.forEach( field => { %>
                    <td><input type="text" name="<%= field.name %>" class="form-control" placeholder="<%= field.name %>"></td>
                    
                  <% }); %>
                  
                </form>
              </tr>
              <% contacts.forEach( contact => {%> 
                <tr>
                  <% contact.contact_fields.forEach( cf => { %>
                    <td> <%= cf.value %> </td>
                  <% }); %>
                </tr>  
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <%- include('includes/bootstrapJS.ejs') %>
  </body>
</html>
